
/* AST */

.ast {
    font-family: 'Cousine', monospace;
    white-space: pre-wrap;
}

.ast.symbol, .ast.value, .ast.void {
    margin: 3px;
}

.ast.value > .str {
    color: #f88;
}
.ast.value > .str::before {
    content: "\"";
}
.ast.value > .str::after {
    content: "\"";
}
.ast.void::before {
    content: "\2205";
    color: #888;
}

.ast.send > :nth-child(2) > .ast.send, .ast.oper > * > .ast.send {
    display: inline-block;
    /* border: 1px solid #eee; */
    border-bottom: 3px solid darkred;
    margin: 2px;
}

.ast.send > * > .ast.oper, .ast.oper > * > .ast.oper {
    display: inline-block;
    /* border: 1px solid #eee; */
    border-bottom: 3px solid black;
    margin: 2px;
}

.ast.oper > :nth-child(2) {
    font-weight: bold;
    color: #00f;
}

.ast.send > *, .ast.oper > * {
    vertical-align: middle;
}


.ast.data {
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    background-color: #88f;
}
.ast.data > * {
    display: inline-block;
}

.ast.multi {
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    background-color: #4a4;
}
.ast.multi > * {
    display: block;
}

.ast.data > *, .ast.multi > * {
    padding: 0px;
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
}

