
@import url("http://fonts.googleapis.com/css?family=Cousine:400,700|Open+Sans");
@import url("earlmode.css");
@import url("datarepr.css");
@import url("datarepr-colors.css");
@import url("datarepr-ast.css");
@import url("cards.css");


#repl-container {
  width: 1200px;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}


#box {
    box-sizing: border-box;
    width: 600px;
    height: 500px;
    overflow-y: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#help {
    box-sizing: border-box;
    width: 550px;
    height: 500px;
    overflow-y: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.result {
    /* outline: 0px; */
    padding-left: 0.5em;
    border-left: 3px solid white;
    height: auto;
}

.entry {
    /* padding-left: 0.5em; */
    /* border-left: 3px solid white; */
    height: auto;
    width: 100%;
}

.entry {
    line-height: 1;
}

.entry, #inputbox {
    margin-bottom: 2px;
}


/* #input.multiline { */
/*     border-left: 3px solid #8a8; */
/* } */

.collapsed:before {
    content: "...";
}

.in, .out, .err {
    display: -webkit-flex;
    display: flex;
}

.in, .err {
    font-family: 'Cousine', monospace;
    white-space: pre-wrap;
}

/* .hasinput { */
/*     align-items: flex-start; */
/* } */

.display {
    display: -webkit-flex;
    display: flex;
}

.in:hover {
    background-color: #fdfdfd;
}

/* .in > div, .out > div, .err > div, .display > div { */
/*     padding-top: 3px; */
/*     padding-bottom: 3px; */
/* } */

/* .in #input { */
/*     -webkit-flex-grow: 1; */
/*     flex-grow: 1; */
/* } */

.inbanner:before {
    /* content: "\2666"; */
    content: " ";
    color: #f00;
}

.displaybanner {
    width: 1em;
}

.inbanner {
    width: 1em;
    /* margin-right: 0.5em; */
}

.outbanner {
    border-left: 0.2em solid #383;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

/* .outbanner { */
/*     width: 1em; */
/*     /\* margin-right: 0.5em; *\/ */
/* } */

.inbanner, .outbanner {
    background-color: #383;
}

.errbanner {
    border-left: 0.2em solid #f88;
    margin-left: 0.4em;
    margin-right: 0.4em;
}



/* .card { */
/*     font-family: 'Open Sans', 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
/*     font-size: 12pt; */
/*     /\* padding: 10px; *\/ */
/*     /\* border: 2px solid #ddf; *\/ */
/*     /\* border-radius: 10px; *\/ */
/*     /\* background-color: #f8f8f8; *\/ */
/*     width: 100%; */
/* } */

body {
    font-family: 'Open Sans', 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
}

/* .card */ table {
    border-collapse: collapse;
    /* margin: 5px; */
    border: 2px solid black;
}

/* .card */ th, /* .card */ td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

/* .card tr { */
/*     border-bottom: 1px solid #aaa; */
/* } */

/* .card tr:hover { */
/*     background-color: #f8f8f8; */
/* } */

/* .card */ code {
    background-color: #f8f8f8;
}

/* .card */ th code {
    background-color: white;
}

/* .card */ h3 {
    margin-top: 0.5em;
    margin-bottom: 0px;
    border-bottom: 2px solid #88f;
}

/* .card */ .separator:before {
    content: "\2666";
    color: #f00;
    /* background-color: #ddd; */
    padding: 0.2em;
}

/* .card */ .help {
    margin: 2px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Cousine', monospace;
    white-space: pre;
    font-weight: bold;
    color: #88f;
}

/* .card */ .clickable {
    border: 2px solid #d8d8ff;
    margin: 2px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Cousine', monospace;
    white-space: pre;
    background-color: #f8f8ff;
}

/* .card */ .clickable:hover {
    background-color: #e8e8ff;
}

/* .card */ .blocks > * {
    /* margin-top: 8px; */
    margin-bottom: 10px;
}


/* .card */ .note:before {
    content: "Note: ";
    font-weight: bold;
}
/* .card */ .note {
    color: #550;
    background-color: #ffd;    
}

/* .card */ .tip:before {
    content: "Tip: ";
    font-weight: bold;
}
/* .card */ .tip {
    color: #005;
    background-color: #ddf;
}

.warning:before {
    content: "Warning: ";
    font-weight: bold;
}

.warning {
    color: #500;
    background-color: #fdd;
}

.success:before {
    content: "Success: ";
    font-weight: bold;
}

.success {
    color: #050;
    background-color: #dfd;
}

/* .card */ .note, /* .card */ .tip, .warning, .success {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}



/* .card */ ul, /* .card */ ol {
    margin-top: 0px;
    margin-bottom: 0px;
}


.CodeMirror {
  /* border: 1px solid #eee; */
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

#inputbox {
  width: 100%;
  /* padding-top: 1px; */
  /* padding-left: 5px; */
  /* border-left: 3px solid #8a8; */
  /* border-left: 3px solid #fff; */
}

/* #inputbox.multiline { */
/*   width: 100%; */
/*   border-left: 3px solid #8a8; */
/* } */




/* .entry .cm-s-repl { */
/*     padding-left: 1px; */
/*     padding-top: 2px; */
/* } */

/* .pattern_table td:first-child {width: 150px;} */


.CodeMirror pre {
    font-family: 'Cousine', monospace;
}


/* #help { */
/*     position: relative; */
/* } */

.tab {
    /* position: relative; */
    padding-left: 10px;
    padding-right: 10px;
}

.tab_header {
    background-color: #559;
    /* margin-bottom: 2px; */
}

.close_tab {
    padding: 4px;
    cursor: pointer;
}

.close_tab:before {
    font-family: 'Cousine', monospace;
    font-size: 12pt;
    content: "X";
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

.current_page, .previous_page, .next_page {
    font-family: 'Cousine', monospace;
    font-size: 12pt;
    display: inline-block;
    padding: 4px;
    /* background-color: #eee; */
    cursor: pointer;
}

.current_page {
    color: #fff;
    font-weight: bold;
}

.previous_page {
    color: #aad;
    font-weight: bold;
}

.next_page {
    color: #88a;
}


.history_separator:before {
    content: ">";
    font-weight: bold;
    color: #888;
    padding: 2px;
}

.tab_header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.collapsed > * {
    display: none !important;
}


.blocks > * {
    display: block;
}


