@import url("//fonts.googleapis.com/css?family=Open+Sans|Mate+SC");
@import url("hl-xcode.css");
html {
  height: 100%; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  height: 100%;
  margin: 0px;
  color: #333; }

#nav-container {
  background-color: #eee; }
  #nav-container #nav {
    margin: auto;
    max-width: 950px;
    padding-left: 0px;
    padding-right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px; }

#main-container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  #main-container #main {
    margin: auto;
    max-width: 950px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px; }

#foot-container {
  background-color: #eee; }
  #foot-container #foot {
    margin: auto;
    max-width: 950px;
    padding-left: 0px;
    padding-right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    height: 70px; }

#sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 300px;
  box-sizing: border-box; }
  #sidebar #sidebar-contents {
    position: relative;
    height: 100%;
    overflow: auto; }

@media screen and (max-width: 1650px) {
  #sidebar {
    display: none; } }

#nav {
  /* display: flex */
  /* flex-direction: row */
  /* justify-content: flex-start */
  /* align-items: center */
  /* height: $nav-height */
  font-family: Mate SC; }
  #nav img {
    vertical-align: middle; }
  #nav .navlink {
    box-sizing: border-box;
    position: relative;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    border-bottom: 5px solid transparent;
    font-size: 20pt;
    text-align: center; }
  #nav .navlink:hover {
    border-bottom: 5px solid black; }
  #nav .navlink a {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: black; }
  #nav .curnav.navlink {
    background-color: #ddd;
    border-bottom: 5px solid transparent; }
  #nav .curnav:after {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -40px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 25px #ddd;
    /* border-top: solid 25px black */
    border-left: solid 40px transparent;
    border-right: solid 40px transparent; }
  #nav .curnav.navlink:hover {
    border-bottom: 5px solid transparent; }
  #nav .navlink a:focus {
    outline: none; }
  #nav .navlink a:hover {
    text-decoration: none; }
  #nav #social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    #nav #social .navlink a {
      padding-left: 5px;
      padding-right: 5px;
      width: 50px; }

/* STUFF */
.nosel {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.dropdown {
  position: relative; }

.dropdown ul {
  position: absolute;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* width: 150px */
  visibility: hidden;
  background-color: #ccc; }
  .dropdown ul li {
    font-size: 14pt;
    text-align: left;
    padding-left: 10px;
    line-height: 1.5em;
    border-bottom: 2px solid black; }
  .dropdown ul li:hover {
    background-color: #ddd; }

.dropdown:hover ul {
  z-index: 100000;
  visibility: visible; }

#nav .dropdown ul a {
  width: 100%;
  padding-left: 10px;
  text-decoration: none;
  color: black; }

.note:before {
  content: "Note: ";
  font-weight: bold; }

.note {
  color: #550;
  background-color: #ffd; }

.tip:before {
  content: "Tip: ";
  font-weight: bold; }

.tip {
  color: #005;
  background-color: #ddf; }

.warning:before {
  content: "Warning: ";
  font-weight: bold; }

.warning {
  color: #500;
  background-color: #fdd; }

.note, .tip, .warning {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px; }

ul.toc {
  padding-left: 30px;
  list-style-type: none; }
  ul.toc ul {
    padding-left: 20px;
    list-style-type: none; }
  ul.toc a {
    /* position: relative */
    color: #000; }
  ul.toc a.selected {
    font-weight: bold; }
  ul.toc a.selected:before {
    position: absolute;
    left: 10px;
    content: "\25B6"; }

ul.toc li {
  padding-bottom: 0px; }

/* HEADERS */
h1.title {
  color: #41727b;
  font-weight: bold;
  background-color: #fff;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 3em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mate SC';
  color: black; }

h1 {
  font-size: 2.3em;
  border-bottom: 4px solid black; }

h2 {
  font-size: 2em;
  border-bottom: 2px solid #888; }

h3 {
  font-size: 1.7em; }

h4 {
  font-size: 1.35em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

/* CODE */
pre {
  background-color: #eef;
  padding: 5px; }

pre.hl {
  background-color: #f5f5ec;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px; }

/* LISTS */
ul {
  list-style-type: disc; }

/* TABLES */
table {
  border: 2px solid black;
  border-collapse: collapse; }

table th {
  text-align: left;
  border-bottom: 2px solid black;
  background-color: #ddf; }

tr:nth-child(odd) {
  background-color: #f8f8ff; }

tr:nth-child(even) {
  background-color: #eeeef8; }

table th, table td {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid black; }

/* LINKS */
a {
  text-decoration: none;
  /* color: #7646b3 */ }

a:hover {
  text-decoration: underline;
  /* color: #7646b3 */ }

/* MISC */
strong {
  color: #000; }
