@charset "UTF-8";
.container {
  margin: auto; }

html {
  font-size: 19px; }

body {
  margin: 0px;
  font-family: "Open Sans";
  line-height: 1.5;
  background: #fafafa;
  color: #333; }

pre {
  line-height: 110%; }

a {
  color: #00f;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #808; }

h1 {
  font-family: "Mate SC";
  color: #333; }

h2, h3 {
  font-family: "Mate SC";
  color: #333;
  line-height: 1.2; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.2rem; }

tr:nth-child(even) {
  background: #fff; }

tr:nth-child(odd) {
  color: black;
  background: #fff; }

table {
  border-collapse: collapse;
  color: black;
  width: 100%; }

th {
  text-align: left;
  color: white;
  background: #000; }

th, td {
  padding: 5px; }

pre {
  font: Monospace;
  color: black;
  background: #fafafa; }

code {
  font: Monospace;
  color: black;
  background: #fafafa; }

/* SHARING */
.share-buttons {
  margin-top: 50px;
  text-align: center; }

.share-buttons > a {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block; }

.share-buttons img {
  height: 40px; }

/* QUAINT ERRORS */
.error {
  color: red;
  font-weight: bold; }

div.error {
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre;
  font-size: 11pt;
  color: red;
  line-height: 120%;
  font-weight: bold; }

/* DESKTOP */
@media screen and (min-device-aspect-ratio: 100 / 99) {
  .container {
    max-width: 970px;
    padding: 0 10px; }
  body {
    font-size: 19px; }
  pre {
    font-size: 80%; } }

/* MOBILE */
@media screen and (max-device-aspect-ratio: 99 / 100) {
  pre {
    font-size: 1.7rem; }
  table {
    font-size: 2rem; }
  .container {
    padding: 0 50px; }
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 1.5rem; } }

.nav-container-desktop, .nav-container-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  background: #eee;
  color: black;
  border-bottom: 0px solid #bbbbbb;
  font-family: "Mate SC";
  box-sizing: border-box; }

.nav-main > ul, .nav-leftmost > ul, .nav-rightmost > ul, .nav-mobile > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

/* HAMBURGER HMMMMMMM */
.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.7em;
  padding: 10px; }

.icon-bar {
  display: block;
  background-color: black; }

/* COMMON */
.nav-container-desktop nav li a, .nav-container-mobile nav li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit; }

.nav-container-desktop nav li a:hover, .nav-container-mobile nav li a:hover {
  background-color: #bbbbbb;
  color: black;
  text-decoration: none; }

/* DESKTOP */
.nav-container-desktop {
  font-size: 19px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav-container-desktop nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0px; }
    .nav-container-desktop nav li > * {
      padding: 5px 10px; }
  .nav-container-desktop nav .dropdown a:hover {
    background-color: #bbbbbb;
    color: black; }
  .nav-container-desktop nav .dropdown > * {
    padding: 0px; }
  .nav-container-desktop nav .dropdown > :first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
    padding: 5px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    box-sizing: border-box; }
    .nav-container-desktop nav .dropdown > :first-child > .caret:after {
      content: "▾"; }
  .nav-container-desktop nav .dropdown > ul {
    background-color: #d5d5d5;
    color: black;
    min-width: 200px;
    font-size: 19px; }
  .nav-container-desktop .nav-main {
    margin: auto; }
  .nav-container-desktop .dropdown {
    position: relative; }
    .nav-container-desktop .dropdown > :first-child > .caret:after {
      font-size: 15.2px;
      margin-left: 10px; }
    .nav-container-desktop .dropdown .dropdown > :first-child > .caret:after {
      content: "▸"; }
    .nav-container-desktop .dropdown > ul {
      position: absolute;
      left: 0px;
      top: 100%;
      z-index: 10000;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.25s ease-out;
      transition: opacity 0.25s ease-out; }
    .nav-container-desktop .dropdown .dropdown > ul {
      top: 0px;
      left: 100%; }
  .nav-container-desktop .dropdown:hover {
    background-color: #bbbbbb;
    color: black; }
    .nav-container-desktop .dropdown:hover > ul {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.25s ease-out;
      transition: opacity 0.25s ease-out; }
  .nav-container-desktop .nav-main {
    width: 990px; }

/* MOBILE */
.nav-container-mobile {
  /* li */
  /*   /* padding: 5px 10px */
  /*   width: 100% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 57px; }
  .nav-container-mobile .icon-bar {
    width: 75px;
    height: 5px;
    border-radius: 2px; }
  .nav-container-mobile .hamburger {
    box-sizing: border-box;
    padding: 20px; }
  .nav-container-mobile .nav-mobile-menu.dropdown {
    position: relative; }
    .nav-container-mobile .nav-mobile-menu.dropdown > ul {
      position: absolute;
      top: 100%;
      width: 100vw;
      z-index: 10001; }
    .nav-container-mobile .nav-mobile-menu.dropdown > .dropdown-spacer {
      position: absolute;
      top: 100%;
      width: 100vw;
      height: 100vh;
      background: green;
      opacity: 0.5;
      z-index: 10000; }
  .nav-container-mobile .dropdown {
    background: #eee;
    -webkit-transition: background-color 0.5s cubic-bezier(1, 0, 0.8, 0), color 0.5s cubic-bezier(1, 0, 0.8, 0);
    transition: background-color 0.5s cubic-bezier(1, 0, 0.8, 0), color 0.5s cubic-bezier(1, 0, 0.8, 0); }
    .nav-container-mobile .dropdown > :first-child {
      position: relative; }
      .nav-container-mobile .dropdown > :first-child > .caret:after {
        position: absolute;
        font-size: 76px;
        margin-left: 10px;
        right: 10px;
        top: -20px; }
    .nav-container-mobile .dropdown .dropdown > :first-child > .caret:after {
      content: "▾"; }
    .nav-container-mobile .dropdown .dropdown.active > :first-child > .caret:after {
      content: "▴"; }
    .nav-container-mobile .dropdown > .dropdown-spacer {
      visibility: hidden; }
    .nav-container-mobile .dropdown > ul {
      display: block;
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: max-height 0.25s ease-out;
      transition: max-height 0.25s ease-out;
      box-sizing: border-box;
      padding-left: 0px;
      margin: 0px;
      background: #eee;
      color: black;
      list-style-type: none;
      font-size: 57px; }
      .nav-container-mobile .dropdown > ul > li {
        width: 100%;
        border-left: 20px solid #bbbbbb; }
        .nav-container-mobile .dropdown > ul > li > :first-child {
          padding-left: 20px;
          padding-top: 20px;
          padding-bottom: 20px; }
        .nav-container-mobile .dropdown > ul > li > a {
          padding: 20px 0px; }
        .nav-container-mobile .dropdown > ul > li > ul {
          border-left: 20px solid #bbbbbb; }
    .nav-container-mobile .dropdown .dropdown > ul {
      top: 100%; }
  .nav-container-mobile .dropdown.active {
    background-color: #bbbbbb;
    -webkit-transition: background-color 0.5s cubic-bezier(0, 1, 0.2, 1), color 0.5s cubic-bezier(0, 1, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0, 1, 0.2, 1), color 0.5s cubic-bezier(0, 1, 0.2, 1);
    color: black; }
    .nav-container-mobile .dropdown.active .icon-bar {
      background-color: black; }
    .nav-container-mobile .dropdown.active > ul {
      display: block;
      max-height: 2500px;
      /* overflow-y: auto */
      -webkit-transition: max-height 0.25s ease-in;
      transition: max-height 0.25s ease-in; }
    .nav-container-mobile .dropdown.active > .dropdown-spacer {
      visibility: visible; }
  .nav-container-mobile .nav-mobile {
    width: 100%; }

@media screen and (max-device-aspect-ratio: 99 / 100) {
  .nav-container-desktop {
    display: none; } }

@media screen and (min-device-aspect-ratio: 100 / 99) {
  .nav-container-mobile {
    display: none; } }
