.app {
  padding: 30px;
  margin: auto;
  max-width: 1000px; }

.lines {
  overflow-y: auto;
  width: 100%; }

.user-header {
  margin-right: 20px;
  width: 250px; }

input {
  font-size: 14pt;
  width: 150px; }

.user-list {
  width: 300px;
  border-right: 2px solid black; }

.reply-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.reply-box > input {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.chat-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 300px;
  border: 2px solid black; }

.present {
  color: green;
  font-weight: bold; }

.absent {
  color: grey;
  text-decoration: line-through; }

.reply.bold {
  font-weight: bold; }

.reply.faded {
  opacity: 0.4; }
