

.card {
    display: block;
    border: 2px solid black;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 0px #eee;
}

.card > * {
    padding-left: 5px;
    padding-right: 5px;
}

.coolcode {
    display: block;
    margin: 5px auto 5px auto;
}

.coolcode > .clickable {
    display: block;
    margin: 5px auto 5px auto;
}


h2 {
    margin-top: 0px;
    margin-bottom: 0.5em;
    background-color: #000;
    color: white;
    padding: 10px;
}

.tut h2 {
    background-color: #66a;
}

.cool h2 {
    background-color: #a6a;
}

h2 code {
    background-color: #66a;
}

.big {
    display: block;
    font-size: 14pt;
    margin-left: 30px;
}

.big:before {
    content: "\25b6";
    color: orange;
    margin-right: 10px;
}


